<% if @person.is_admitted %>
    <div class="alert alert-success" role="alert">
      Admis !
    </div>
<% else %>
    <div class="alert alert-danger" role="alert">
      Refusé(e) !
    </div>
<% end %>